<footer>
	<div class="container">
		<div class="row widgets-container">
			{{ footer_widgets }}
		</div>
	</div>
	<div class="copyright py-3 px-2 text-white bg-dark text-center small">
         &copy; {{"now"|date('Y')}} {{ site.name }}
	</div>
</footer>